# Configurações de desenvolvimento
DEBUG_MODE=false

# Credenciais para servidor de email (apenas Gmail)
SENDER_EMAIL="seu_email_aqui@gmail.com"
SENDER_PASSWORD="sua_credencial_do_gmail"

# VITE_FASTAPI_URL = "http://localhost:8000/api" 
# !! A URL pode ser alterada no compose.yml, no serviço frontend

# Configurações da conexão com banco de dados
DATABASE_URI="sqlite:///databases/db.sqlite"

# Configurações do Qdrant como Vector Store
QDRANT_URL="http://qdrant:6333"

# Configurações do Langsmith para rastreamento das LLMs
LANGSMITH_TRACING=true
LANGSMITH_API_KEY="api_key"
LANGSMITH_PROJECT="smart_financial_solutions"
