.modal table {
  width: 100%;
  border-collapse: collapse;
}

.modal td,
.modal th {
  padding: 8px 12px;
  border: 1px solid black;
}

.modal thead {
  background-color: antiquewhite;
}

.modal tbody tr:nth-child(2n + 1) {
  background-color: white;
}
